* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pri-clr: #f07a4b;
    --dark-pri-clr:#2d2d34;
}
.org-clr{
    color: var(--pri-clr);
}
/* ================index page==================== */
.home-img {
    height: 100vh !important;
    width: 100%;
    object-fit: cover;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    background-color: #f07a4b;
}
.carousel-caption{
    background-color: #ffffff96 !important;
    /* opacity: 0.5; */
    bottom: 80% !important;
    color: #2d2d34 !important;
    width: 50% !important;
}
/* =================Navbar========================== */
.link-clr {
    color: white;
    text-decoration: none;
}

.link-clr-drop {
    color: var(--dark-pri-clr);
    text-decoration: none;
}
.nav-link{
    margin-right: 10px;
    color: white !important;
}
.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--pri-clr) !important;
}
.nav-cart {
    top: 11px;
    left: 17px;
    font-weight: bold;
}
/* =================footer================== */
.footer {
    background-color: var(--dark-pri-clr);
}

.link-clr-footer li a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    margin-bottom: 10px;
    /* display: inline-block; */
    transition: all 0.5s;
    cursor: pointer;
}

.link-clr-footer li a:hover {
    color: var(--pri-clr);
}

.footer-icon {
    color: white;
    font-size: 30px;
}

.footer-icon span {
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.footer-icon span:hover {
    color: var(--pri-clr);
}

/* ===============all product mate================ */
.product-img img{
    height: 300px;
    width: 100%;
object-fit: cover;
}
.btn-pri{
    background-color: var(--dark-pri-clr) !important;
    color: white !important;
}
.btn-pri:hover{
    background-color:var(--pri-clr) !important   ;
}
.btn-sec{
    background-color: var(--pri-clr) !important;
    color: white !important;
}
.btn-sec:hover{
    background-color:var(--dark-pri-clr) !important   ;
}
/* =============carts================== */
.pointer{
    cursor: pointer;
}

/* ===============empty carts============= */
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

.mt-100{
   margin-top:100px;
}

.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
    box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card .card-body {
    padding: 30px;
    background-color: transparent;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
    background-color: var(--pri-clr)!important;
    border-color: var(--pri-clr)!important;
}
/* ==========AddCarts=================== */
.qty {
    top: 7px;
    left: 25px;
}